@import url("./fonts.css");
* {
  box-sizing: border-box;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #fdfdfd;
}

.advantages {
  height: 450px;
}

.highlight {
  width: 100px;
  height: 4px;
  margin-bottom: 87px;
  background: #f5bd41;
  border: 0;
}

.heading {
  font-family:'Roboto-Medium';
  margin: 120px auto 20px;
  text-align: center;
  color: #383838;
  font-size: 40px;
}

.down .img-text-v {
  display: inline;
}

.img-text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
}

.vectors-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin:0 auto 48px;
  display: block;
  object-position: center;
}

.img-text-v {
  margin: 0;
  font-size: 24px;
  line-height: 150%;
  font-family:'Roboto-Light';

}

.vectors {
  margin: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 206px;
}
/* footer */
.footer {
  background: #10367c;
  height: 630px;
}

.footer-about {
  display: flex;
}

.about {
  margin: 120px 180px 120px 120px;
}

.property {
  margin: 120px 284px 0 0;
}

li {
  list-style: none;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  font-family:'Roboto-Light';
}

.otdelni {
  padding: 0;
}

.triphouse {
  margin: 0 120px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  font-family:'Roboto-Light';
}

.bold {
  font-weight: bold;
}